site_name: freeact
site_description: Freeact code action agent
site_url: https://gradion-ai.github.io/freeact/

repo_name: gradion-ai/freeact
repo_url: https://github.com/gradion-ai/freeact

copyright: Copyright &copy; 2025 Example

theme:
  name: material
  font:
    text: Fira
    code: Fira Code
  palette:
  - media: "(prefers-color-scheme)"
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/link
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: indigo
    accent: indigo
    toggle:
      icon: material/toggle-switch
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: indigo
    toggle:
      icon: material/toggle-switch-off
      name: Switch to system preference
  features:
    - navigation.tabs
    - navigation.sections
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.preview
    - navigation.instant.progress
    - navigation.top
    - navigation.tracking
    - search.suggest
    - toc.follow
    - content.code.copy
    - content.code.select
    - content.code.annotate

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [freeact]
          options:
            show_root_heading: true
            show_source: false
            show_signature_annotations: true
            signature_crossrefs: true
            separate_signature: true
            merge_init_into_class: true
            extensions:
              - griffe_pydantic
          inventories:
            - url: https://docs.python.org/3/objects.inv
              domains: [py, std]
  - llmstxt:
      markdown_description: |
        The `freeact` package is a code action agent.
      full_output: llms-full.txt
      sections:
        User Guide:
          - index.md: Overview

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      dedent_subsections: true
  - pymdownx.superfences
  - pymdownx.details
  - footnotes
  - attr_list
  - md_in_html
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - User Guide:
    - Overview: index.md
  - API Reference:
    - Agent: api/agent.md
    - Config: api/config.md
